.fixed-container {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    height: auto;
    background-color: bisque;
}

.fixed-container__box {
    width: 60%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 200px 300px 150px;
    grid-template-rows: 100px 200px;
    gap: 30px;
}

.grid-container__box-item{
    background-color: brown;
}
