.page {
    max-width: 1400px;
    margin: 0 auto;
    background-color: #25150b;
}

.header {
    background-color: #e28d50;
}

.nav {
    height: 50px;
}

.nav__links {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}

.nav__link {
    margin: 0 10px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

.nav__link:hover {
    color: #25150b;
    background-color: #914a2a;
    padding: 10px;
    border-radius: 5px;
}

.grid-section {
    display: grid;
    grid-gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #544424;
    padding: 20px;
}

.grid-section__title {
    color: #e28d50;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
}

.grid-section__description {
    color: #fff;
    font-size: 20px;
    margin-bottom: 20px;
}

.grid-section__code {
    background-color: white;
    text-align: left;
    color: gray;
    line-height: 1.5;
    width: auto;
    margin: 0 auto;
}

.grid-section__container-grid {
    width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 200px 300px 150px;
    grid-template-rows: 100px 200px;
    grid-gap: 10px;
}

.grid-section__container-item {
    background-color: #914a2a;
    color: #fff;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.grid-section__container-fr {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 3fr;
    gap: 10px;
}

.grid-section__container-mix-units {
    display: grid;
    grid-template-columns: 150px 1fr 20%;
    grid-template-rows: 50% 50%;
    gap: 10px;
}

.grid-section__container-repeat {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 100px);
    gap: 10px;
}

.grid-section__container-grid-gap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 100px);
    gap: 2rem;
}

.grid-section__container-column-gap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 100px);
    column-gap: 2rem;
}

.grid-section__container-row-gap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 100px);
    row-gap: 2rem;
}

.grid-section__container-repeat-func {
    display: grid;
    grid-template-columns: 100px repeat(3, auto) 200px;
    grid-template-rows: repeat(3, 100px);
    gap: 1rem;
}

.grid-section__container-fract {
    display: grid;
    grid-template-columns: 100px repeat(4, 1fr) 200px;
    grid-template-rows: repeat(4, 100px);
    gap: 1rem;
}

.grid-section__container-comumn-start-end {
    display: grid;
    grid-template-columns: 150px 200px 100px;
    grid-template-rows: 80px 120px;
    grid-gap: 10px;
}

.grid-item--big {
    grid-column-start: 1;
    grid-column-end: 3;
}

.grid-section__container-row-start-end {
    display: grid;
    grid-template-columns: repeat(4, 150px);
    grid-template-rows: 100px 200px 80px;
    grid-gap: 10px;
}

.grid-item--big2 {
    grid-row-start: 1;
    grid-row-end: 3;
}

.grid-section__container-span-keyword {
    display: grid;
    grid-template-columns: 200px 300px 150px;
    grid-template-rows: 100px 200px;
    grid-gap: 10px;
}

.grid-item--big3 {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}

.grid-section__container-areas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    grid-template-areas:
        "header header header"
        "news news aside"
        "promo promo aside"
        ". footer footer";
}

.header {
    grid-area: header;
}

.news {
    grid-area: news;
}

.promo {
    grid-area: promo;
}

.aside {
    grid-area: aside;
}

.footer {
    grid-area: footer;
}

.grid-section__container-auto-rows {
    display: grid;
    grid-template-rows: repeat(2, 100px);
    grid-template-columns: repeat(4, 100px);
    grid-auto-rows: 150px;
    gap: 10px;
}

.grid-section__container-auto-columns {
    display: grid;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: 150px 200px 100px;
    grid-auto-columns: 150px;
    gap: 10px;
}

.grid-section__container-auto-flow {
    display: grid;
    width: 500px;
    grid-template-rows: repeat(3, 100px);
    grid-auto-flow: column;
    gap: 10px;
}
.grid-section__container-auto-flow-dense {
    display: grid;
    width: 500px;
    grid-template-rows: repeat(3, 100px);
    grid-auto-flow: dense;
    gap: 10px;
}
